
p{
    padding-left: 1em;
    font-family: "Times New Roman", Times, serif;
    color:rgb(238, 226, 203);
}

body {
    margin-left:15%; 
    margin-right:15%; 
    background-image: url(assets/title1.jpg);

}

.contact{
    color:white;
    text-align:center;
}
.title {
    color : lightseagreen;
}


.content{
    position: absolute;
    left:33%;
    top:7em;
    background: rgb(97, 95, 95);
}

img {
    border-radius: 2px;
}

ul.a {
    list-style-type: circle;
    color:beige;
}

h2 {
    padding-left: 0.5em;
}
h3{
    padding-left:2em;
    color: rgb(141, 224, 220);
}
ul.b {
    list-style-type: square;
    color:beige;
}
  