body {
    margin-left:15%; 
    margin-right:15%; 
    background-image: url(images/YellowBackground.jpg);
  }

p{
    font-family: "Times New Roman", Times, serif;
}

h1,h2,h3,h4,h5,h6, hr {
	text-align: center;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}

h1,h2,h3{
    outline-style: double;
}

p.illus, tr,tbody,table,div.contents,col,colgroup{
    left: 50%;
    text-align: center;
}

img {
    border-radius: 40px;
    padding:4px;

  }

img.caption i, h4{

    color: #ffffff;
    background: green;
	text-align:center;
	font-weight:bold;
	opacity:0.7;
}